
$icon-about-iis-1-width: 81px;
$icon-about-iis-1-height: 20px;
$icon-about-iis-2-width: 81px;
$icon-about-iis-2-height: 24px;
$icon-about-iis-3-width: 84px;
$icon-about-iis-3-height: 55px;
$icon-alrosa-5-width: 47px;
$icon-alrosa-5-height: 26px;
$icon-arrow-up-width: 16px;
$icon-arrow-up-height: 9px;
$icon-bristol-13-width: 35px;
$icon-bristol-13-height: 30px;
$icon-case-doc-width: 30px;
$icon-case-doc-height: 36px;
$icon-case-percent-width: 36px;
$icon-case-percent-height: 36px;
$icon-chat-3-width: 31.99px;
$icon-chat-3-height: 31.99px;

.about-iis-1 {
  width: $icon-about-iis-1-width;
  height: $icon-about-iis-1-height;
}

.about-iis-2 {
  width: $icon-about-iis-2-width;
  height: $icon-about-iis-2-height;
}

.about-iis-3 {
  width: $icon-about-iis-3-width;
  height: $icon-about-iis-3-height;
}

.alrosa-5 {
  width: $icon-alrosa-5-width;
  height: $icon-alrosa-5-height;
}

.arrow-up {
  width: $icon-arrow-up-width;
  height: $icon-arrow-up-height;
}

.bristol-13 {
  width: $icon-bristol-13-width;
  height: $icon-bristol-13-height;
}

.case-doc {
  width: $icon-case-doc-width;
  height: $icon-case-doc-height;
}

.case-percent {
  width: $icon-case-percent-width;
  height: $icon-case-percent-height;
}

.chat-3 {
  width: $icon-chat-3-width;
  height: $icon-chat-3-height;
}
.cls-2{fill:#ec231a}

