
$icon-benefits-width: 49px;
$icon-benefits-height: 48px;
$icon-cabinet-width: 44px;
$icon-cabinet-height: 44px;
$icon-calculator-width: 44px;
$icon-calculator-height: 44px;
$icon-calendar-width: 43px;
$icon-calendar-height: 46px;
$icon-cart-width: 50px;
$icon-cart-height: 50px;
$icon-checkbox-check-width: 13px;
$icon-checkbox-check-height: 11px;
$icon-checked-width: 426.67px;
$icon-checked-height: 426.67px;
$icon-chevron-red-width: 9px;
$icon-chevron-red-height: 5px;
$icon-chevron-width: 12px;
$icon-chevron-height: 7px;
$icon-close-icon-width: 44px;
$icon-close-icon-height: 44px;
$icon-corporate-width: 66px;
$icon-corporate-height: 50px;
$icon-document-width: 50px;
$icon-document-height: 50px;
$icon-download-pdf-width: 28px;
$icon-download-pdf-height: 32px;
$icon-download-width: 10px;
$icon-download-height: 14px;
$icon-eye-width: 18px;
$icon-eye-height: 12px;
$icon-fb-width: 8px;
$icon-fb-height: 18px;
$icon-gazprom-big-width: 153px;
$icon-gazprom-big-height: 131px;
$icon-gazprom-width: 34px;
$icon-gazprom-height: 58px;
$icon-google-width: 25px;
$icon-google-height: 16px;
$icon-hft-width: 51px;
$icon-hft-height: 49px;
$icon-ifwallet172631-width: 50px;
$icon-ifwallet172631-height: 50px;
$icon-loader-width: 512px;
$icon-loader-height: 512px;
$icon-logo-footer-width: 152px;
$icon-logo-footer-height: 41px;
$icon-logo-width: 200px;
$icon-logo-height: 56px;
$icon-loyalty-width: 46px;
$icon-loyalty-height: 39px;
$icon-matrix-width: 211px;
$icon-matrix-height: 50px;
$icon-megafone-width: 50px;
$icon-megafone-height: 50px;
$icon-nko-width: 49px;
$icon-nko-height: 49px;
$icon-pagination-arrow-width: 18px;
$icon-pagination-arrow-height: 17px;
$icon-partners1-width: 300px;
$icon-partners1-height: 49px;
$icon-partners3-width: 150px;
$icon-partners3-height: 44px;
$icon-payment-bank-logo-1-width: 39px;
$icon-payment-bank-logo-1-height: 39px;
$icon-payment-bank-logo-2-width: 39px;
$icon-payment-bank-logo-2-height: 39px;
$icon-payment-bank-logo-3-width: 45px;
$icon-payment-bank-logo-3-height: 43px;
$icon-payment-download-width: 34px;
$icon-payment-download-height: 38px;
$icon-payment1-width: 35px;
$icon-payment1-height: 38px;
$icon-payment2-width: 33px;
$icon-payment2-height: 34px;
$icon-payment3-width: 32px;
$icon-payment3-height: 32px;
$icon-phone-black-width: 12px;
$icon-phone-black-height: 16px;
$icon-phone-icon-width: 44px;
$icon-phone-icon-height: 44px;
$icon-phone-red-width: 9px;
$icon-phone-red-height: 17px;
$icon-phone-width: 12px;
$icon-phone-height: 16px;
$icon-phones-width: 50px;
$icon-phones-height: 50px;
$icon-presentation-red-width: 215px;
$icon-presentation-red-height: 96px;
$icon-qiwi-width: 50px;
$icon-qiwi-height: 52px;
$icon-raif-width: 50px;
$icon-raif-height: 50px;
$icon-registration-arrow-width: 21px;
$icon-registration-arrow-height: 21px;
$icon-registration-arrow__black-width: 21px;
$icon-registration-arrow__black-height: 21px;
$icon-reliability-width: 56px;
$icon-reliability-height: 56px;
$icon-sber-width: 50px;
$icon-sber-height: 48px;
$icon-search-width: 18px;
$icon-search-height: 18px;
$icon-shape-copy-width: 13px;
$icon-shape-copy-height: 16px;
$icon-slide-4-img-width: 165px;
$icon-slide-4-img-height: 60px;
$icon-smartcom-width: 214px;
$icon-smartcom-height: 38px;
$icon-smarttouch-width: 234px;
$icon-smarttouch-height: 38px;
$icon-smartweb-width: 210px;
$icon-smartweb-height: 38px;
$icon-smartx-download-logo-width: 383px;
$icon-smartx-download-logo-height: 85px;
$icon-software-main-arrow-width: 21px;
$icon-software-main-arrow-height: 21px;
$icon-software-main-mobile-width: 145px;
$icon-software-main-mobile-height: 39px;
$icon-software-main-option-width: 169px;
$icon-software-main-option-height: 28px;
$icon-software-main-smartcom-width: 221px;
$icon-software-main-smartcom-height: 40px;
$icon-software-main-smartweb-width: 217px;
$icon-software-main-smartweb-height: 39px;
$icon-software-main-smartx-width: 173px;
$icon-software-main-smartx-height: 39px;
$icon-software-smart-gate-width: 217px;
$icon-software-smart-gate-height: 40px;
$icon-software1-width: 64px;
$icon-software1-height: 64px;
$icon-software2-width: 56px;
$icon-software2-height: 64px;
$icon-software3-width: 64px;
$icon-software3-height: 59px;
$icon-software4-width: 64px;
$icon-software4-height: 64px;
$icon-software5-width: 64px;
$icon-software5-height: 64px;
$icon-software6-width: 64px;
$icon-software6-height: 64px;
$icon-softwarebot1-width: 64px;
$icon-softwarebot1-height: 64px;
$icon-softwarebot2-width: 64px;
$icon-softwarebot2-height: 64px;
$icon-softwarebot3-width: 64px;
$icon-softwarebot3-height: 64px;
$icon-softwarebot4-width: 64px;
$icon-softwarebot4-height: 64px;
$icon-softwarebot5-width: 64px;
$icon-softwarebot5-height: 49px;
$icon-softwarebot6-width: 64px;
$icon-softwarebot6-height: 64px;
$icon-softwarebot7-width: 64px;
$icon-softwarebot7-height: 64px;
$icon-softwarebot8-width: 64px;
$icon-softwarebot8-height: 64px;
$icon-spb-exchg-width: 63px;
$icon-spb-exchg-height: 48px;
$icon-sprite-102da090-width: 200px;
$icon-sprite-102da090-height: 98px;
$icon-sprite-23aee52a-width: 200px;
$icon-sprite-23aee52a-height: 139px;
$icon-sprite-9897454e-width: 200px;
$icon-sprite-9897454e-height: 98px;
$icon-sprite-aa32ec8f-width: 200px;
$icon-sprite-aa32ec8f-height: 70px;
$icon-sprite-d2e0e642-width: 200px;
$icon-sprite-d2e0e642-height: 98px;
$icon-stability-width: 64px;
$icon-stability-height: 64px;
$icon-strate-width: 151px;
$icon-strate-height: 41px;
$icon-tech-width: 64px;
$icon-tech-height: 64px;
$icon-telegram-width: 21px;
$icon-telegram-height: 17px;
$icon-tlg-width: 29px;
$icon-tlg-height: 24px;
$icon-trading-width: 50px;
$icon-trading-height: 50px;
$icon-tradingview-width: 19px;
$icon-tradingview-height: 19px;
$icon-triangle-width: 26px;
$icon-triangle-height: 23px;
$icon-tw-width: 18px;
$icon-tw-height: 14px;
$icon-usa-exchg-width: 49px;
$icon-usa-exchg-height: 48px;
$icon-vk-width: 20px;
$icon-vk-height: 11px;
$icon-vue-slider-dot-width: 20px;
$icon-vue-slider-dot-height: 31px;
$icon-youtube-width: 18px;
$icon-youtube-height: 13px;
$icon-z-width: 19px;
$icon-z-height: 19px;

.benefits {
  width: $icon-benefits-width;
  height: $icon-benefits-height;
}

.cabinet {
  width: $icon-cabinet-width;
  height: $icon-cabinet-height;
}

.calculator {
  width: $icon-calculator-width;
  height: $icon-calculator-height;
}

.calendar {
  width: $icon-calendar-width;
  height: $icon-calendar-height;
}

.cart {
  width: $icon-cart-width;
  height: $icon-cart-height;
}

.checkbox-check {
  width: $icon-checkbox-check-width;
  height: $icon-checkbox-check-height;
}

.checked {
  width: $icon-checked-width;
  height: $icon-checked-height;
}

.chevron-red {
  width: $icon-chevron-red-width;
  height: $icon-chevron-red-height;
}

.chevron {
  width: $icon-chevron-width;
  height: $icon-chevron-height;
}

.close-icon {
  width: $icon-close-icon-width;
  height: $icon-close-icon-height;
}

.corporate {
  width: $icon-corporate-width;
  height: $icon-corporate-height;
}

.document {
  width: $icon-document-width;
  height: $icon-document-height;
}

.download-pdf {
  width: $icon-download-pdf-width;
  height: $icon-download-pdf-height;
}

.download {
  width: $icon-download-width;
  height: $icon-download-height;
}

.eye {
  width: $icon-eye-width;
  height: $icon-eye-height;
}

.fb {
  width: $icon-fb-width;
  height: $icon-fb-height;
}

.gazprom-big {
  width: $icon-gazprom-big-width;
  height: $icon-gazprom-big-height;
}

.gazprom {
  width: $icon-gazprom-width;
  height: $icon-gazprom-height;
}

.google {
  width: $icon-google-width;
  height: $icon-google-height;
}

.hft {
  width: $icon-hft-width;
  height: $icon-hft-height;
}

.ifwallet172631 {
  width: $icon-ifwallet172631-width;
  height: $icon-ifwallet172631-height;
}

.loader {
  width: $icon-loader-width;
  height: $icon-loader-height;
}

.logo-footer {
  width: $icon-logo-footer-width;
  height: $icon-logo-footer-height;
}

.logo {
  width: $icon-logo-width;
  height: $icon-logo-height;
}

.loyalty {
  width: $icon-loyalty-width;
  height: $icon-loyalty-height;
}

.matrix {
  width: $icon-matrix-width;
  height: $icon-matrix-height;
}

.megafone {
  width: $icon-megafone-width;
  height: $icon-megafone-height;
}

.nko {
  width: $icon-nko-width;
  height: $icon-nko-height;
}

.pagination-arrow {
  width: $icon-pagination-arrow-width;
  height: $icon-pagination-arrow-height;
}

.partners1 {
  width: $icon-partners1-width;
  height: $icon-partners1-height;
}

.partners3 {
  width: $icon-partners3-width;
  height: $icon-partners3-height;
}

.payment-bank-logo-1 {
  width: $icon-payment-bank-logo-1-width;
  height: $icon-payment-bank-logo-1-height;
}

.payment-bank-logo-2 {
  width: $icon-payment-bank-logo-2-width;
  height: $icon-payment-bank-logo-2-height;
}

.payment-bank-logo-3 {
  width: $icon-payment-bank-logo-3-width;
  height: $icon-payment-bank-logo-3-height;
}

.payment-download {
  width: $icon-payment-download-width;
  height: $icon-payment-download-height;
}

.payment1 {
  width: $icon-payment1-width;
  height: $icon-payment1-height;
}

.payment2 {
  width: $icon-payment2-width;
  height: $icon-payment2-height;
}

.payment3 {
  width: $icon-payment3-width;
  height: $icon-payment3-height;
}

.phone-black {
  width: $icon-phone-black-width;
  height: $icon-phone-black-height;
}

.phone-icon {
  width: $icon-phone-icon-width;
  height: $icon-phone-icon-height;
}

.phone-red {
  width: $icon-phone-red-width;
  height: $icon-phone-red-height;
}

.phone {
  width: $icon-phone-width;
  height: $icon-phone-height;
}

.phones {
  width: $icon-phones-width;
  height: $icon-phones-height;
}

.presentation-red {
  width: $icon-presentation-red-width;
  height: $icon-presentation-red-height;
}

.qiwi {
  width: $icon-qiwi-width;
  height: $icon-qiwi-height;
}

.raif {
  width: $icon-raif-width;
  height: $icon-raif-height;
}

.registration-arrow {
  width: $icon-registration-arrow-width;
  height: $icon-registration-arrow-height;
}

.registration-arrow__black {
  width: $icon-registration-arrow__black-width;
  height: $icon-registration-arrow__black-height;
}

.reliability {
  width: $icon-reliability-width;
  height: $icon-reliability-height;
}

.sber {
  width: $icon-sber-width;
  height: $icon-sber-height;
}

.search {
  width: $icon-search-width;
  height: $icon-search-height;
}

.shape-copy {
  width: $icon-shape-copy-width;
  height: $icon-shape-copy-height;
}

.slide-4-img {
  width: $icon-slide-4-img-width;
  height: $icon-slide-4-img-height;
}

.smartcom {
  width: $icon-smartcom-width;
  height: $icon-smartcom-height;
}

.smarttouch {
  width: $icon-smarttouch-width;
  height: $icon-smarttouch-height;
}

.smartweb {
  width: $icon-smartweb-width;
  height: $icon-smartweb-height;
}

.smartx-download-logo {
  width: $icon-smartx-download-logo-width;
  height: $icon-smartx-download-logo-height;
}

.software-main-arrow {
  width: $icon-software-main-arrow-width;
  height: $icon-software-main-arrow-height;
}

.software-main-mobile {
  width: $icon-software-main-mobile-width;
  height: $icon-software-main-mobile-height;
}

.software-main-option {
  width: $icon-software-main-option-width;
  height: $icon-software-main-option-height;
}

.software-main-smartcom {
  width: $icon-software-main-smartcom-width;
  height: $icon-software-main-smartcom-height;
}

.software-main-smartweb {
  width: $icon-software-main-smartweb-width;
  height: $icon-software-main-smartweb-height;
}

.software-main-smartx {
  width: $icon-software-main-smartx-width;
  height: $icon-software-main-smartx-height;
}

.software-smart-gate {
  width: $icon-software-smart-gate-width;
  height: $icon-software-smart-gate-height;
}

.software1 {
  width: $icon-software1-width;
  height: $icon-software1-height;
}

.software2 {
  width: $icon-software2-width;
  height: $icon-software2-height;
}

.software3 {
  width: $icon-software3-width;
  height: $icon-software3-height;
}

.software4 {
  width: $icon-software4-width;
  height: $icon-software4-height;
}

.software5 {
  width: $icon-software5-width;
  height: $icon-software5-height;
}

.software6 {
  width: $icon-software6-width;
  height: $icon-software6-height;
}

.softwarebot1 {
  width: $icon-softwarebot1-width;
  height: $icon-softwarebot1-height;
}

.softwarebot2 {
  width: $icon-softwarebot2-width;
  height: $icon-softwarebot2-height;
}

.softwarebot3 {
  width: $icon-softwarebot3-width;
  height: $icon-softwarebot3-height;
}

.softwarebot4 {
  width: $icon-softwarebot4-width;
  height: $icon-softwarebot4-height;
}

.softwarebot5 {
  width: $icon-softwarebot5-width;
  height: $icon-softwarebot5-height;
}

.softwarebot6 {
  width: $icon-softwarebot6-width;
  height: $icon-softwarebot6-height;
}

.softwarebot7 {
  width: $icon-softwarebot7-width;
  height: $icon-softwarebot7-height;
}

.softwarebot8 {
  width: $icon-softwarebot8-width;
  height: $icon-softwarebot8-height;
}

.spb-exchg {
  width: $icon-spb-exchg-width;
  height: $icon-spb-exchg-height;
}

.sprite-102da090 {
  width: $icon-sprite-102da090-width;
  height: $icon-sprite-102da090-height;
}

.sprite-23aee52a {
  width: $icon-sprite-23aee52a-width;
  height: $icon-sprite-23aee52a-height;
}

.sprite-9897454e {
  width: $icon-sprite-9897454e-width;
  height: $icon-sprite-9897454e-height;
}

.sprite-aa32ec8f {
  width: $icon-sprite-aa32ec8f-width;
  height: $icon-sprite-aa32ec8f-height;
}

.sprite-d2e0e642 {
  width: $icon-sprite-d2e0e642-width;
  height: $icon-sprite-d2e0e642-height;
}

.stability {
  width: $icon-stability-width;
  height: $icon-stability-height;
}

.strate {
  width: $icon-strate-width;
  height: $icon-strate-height;
}

.tech {
  width: $icon-tech-width;
  height: $icon-tech-height;
}

.telegram {
  width: $icon-telegram-width;
  height: $icon-telegram-height;
}

.tlg {
  width: $icon-tlg-width;
  height: $icon-tlg-height;
}

.trading {
  width: $icon-trading-width;
  height: $icon-trading-height;
}

.tradingview {
  width: $icon-tradingview-width;
  height: $icon-tradingview-height;
}

.triangle {
  width: $icon-triangle-width;
  height: $icon-triangle-height;
}

.tw {
  width: $icon-tw-width;
  height: $icon-tw-height;
}

.usa-exchg {
  width: $icon-usa-exchg-width;
  height: $icon-usa-exchg-height;
}

.vk {
  width: $icon-vk-width;
  height: $icon-vk-height;
}

.vue-slider-dot {
  width: $icon-vue-slider-dot-width;
  height: $icon-vue-slider-dot-height;
}

.youtube {
  width: $icon-youtube-width;
  height: $icon-youtube-height;
}

.z {
  width: $icon-z-width;
  height: $icon-z-height;
}

