extends layouts/default.pug

block content
	.cards
		.card
			.card-name
				| log
			.card-descr
				|Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae a, saepe magni maxime, dolores vitae pariatur deserunt dolorem porro ipsam aliquam repellat vero et earum ad, eos beatae fuga magnam.

		.card
			.card-name
				| log
			.card-descr
				|Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae a, saepe magni maxime, dolores vitae pariatur deserunt dolorem porro ipsam aliquam repellat vero et earum ad, eos beatae fuga magnam.

		.card
			.card-name
				| log
			.card-descr
				|Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae a, saepe magni maxime, dolores vitae pariatur deserunt dolorem porro ipsam aliquam repellat vero et earum ad, eos beatae fuga magnam.

		.card
			.card-name
				| log
			.card-descr
				|Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae a, saepe magni maxime, dolores vitae pariatur deserunt dolorem porro ipsam aliquam repellat vero et earum ad, eos beatae fuga magnam.

		.small-cards
			.card
				.card-name
					| log
				.card-descr
					|Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae a, saepe magni maxime, dolores vitae pariatur deserunt dolorem porro ipsam aliquam repellat vero et earum ad, eos beatae fuga magnam.
			.card
				.card-name
					| log
				.card-descr
					|Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae a, saepe magni maxime, dolores vitae pariatur deserunt dolorem porro ipsam aliquam repellat vero et earum ad, eos beatae fuga magnam.
			.card
				.card-name
					| log
				.card-descr
					|Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae a, saepe magni maxime, dolores vitae pariatur deserunt dolorem porro ipsam aliquam repellat vero et earum ad, eos beatae fuga magnam.

//- block foot
//- 	p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui commodi voluptatibus officiis, accusamus sapiente et. Blanditiis quis dignissimos molestias ullam ipsam quisquam porro fuga totam beatae, voluptas nostrum molestiae dolor.