.aboutiis {
  width: 100em;
  height: 65em;
}

.adv-2 {
  width: 60em;
  height: 60em;
}

.adv-3 {
  width: 61em;
  height: 60em;
}

.adv_1 {
  width: 60em;
  height: 60em;
}

.alrosa-icon {
  width: 47em;
  height: 26em;
}

.arrow-down {
  width: 80em;
  height: 21em;
}

.case-percent {
  width: 36em;
  height: 36em;
}

.dot-adv {
  width: 81em;
  height: 20em;
}

.dots-icon {
  width: 22em;
  height: 4em;
}

.faq-icon {
  width: 90em;
  height: 58em;
}

.google-icon {
  width: 92em;
  height: 31em;
}

.group-21 {
  width: 60em;
  height: 60em;
}

.intel-icon {
  width: 55em;
  height: 37em;
}

.lukoil-icon {
  width: 35em;
  height: 34em;
}

.miner {
  width: 512em;
  height: 512em;
}

.n-icon {
  width: 23em;
  height: 42em;
}

.nornick-icon {
  width: 42em;
  height: 27em;
}

.okay-icon {
  width: 71em;
  height: 20em;
}

.percent-adv {
  width: 81em;
  height: 24em;
}

.percent-icon {
  width: 48em;
  height: 48em;
}

.phone-icon {
  width: 12em;
  height: 16em;
}

.polys-icon {
  width: 33em;
  height: 33em;
}

.red-arrow {
  width: 19em;
  height: 11em;
}

.rosn-icon {
  width: 27em;
  height: 35em;
}

.rostelecom-icon {
  width: 21em;
  height: 33em;
}

.rus-adv {
  width: 81em;
  height: 81em;
}

.rus-gerb {
  width: 35em;
  height: 35em;
}

.strategys-icon {
  width: 48em;
  height: 55em;
}

.transneft-icon {
  width: 37em;
  height: 33em;
}

.up-adv {
  width: 84em;
  height: 55em;
}

.webbank {
  width: 80em;
  height: 24em;
}

